//.tree-container {
//  width: 20%;
//  height: 100%;
//  box-sizing: border-box;
//  padding: 20px;
//  background-color: #fff;
//  float: left;
//  overflow-y: auto;
//
//  .el-radio-group {
//    width: 100%;
//    margin-bottom: 10px;
//  }
//}
$lens: 5, 10, 20, 40;
$directions: "", "-bottom", "-top", "-left", "-right";
.theme-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  float: right;
  overflow-y: auto;
  background: #fff;

  .table-pagination {
    margin-top: 10px;
    margin-bottom: 10px
  }

  .flex{
    display: flex;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @each $len in $lens {
    @each $dir in $directions {
      $dir-alias: str-slice($dir, 2, 2);
      .m#{$dir-alias}-#{$len} {
        margin#{$dir}: $len + px;
      }
      .p#{$dir-alias}-#{$len} {
        padding#{$dir}: $len + px;
      }
    }
  }

  .dialog-footer {
    text-align: center;
  }
}